.view-galleries {
  .list-group-item {
    border: 1px solid #ffffff;
  }
  .item-list ul {
    margin: 0;
  }
  .views-row {
    margin-bottom: 2rem;
  }
  .field--type-image img {
    margin: 0;
  }
}

.view-image-gallery {
  .views-field-field-media-image {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}