#navbar-main {
  border-top: 1px solid $accent-shade;
  border-bottom: 1px solid $accent-shade;
  .menu--main li {
    padding: .5rem 0;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
      a {
        color: $link-color;
        padding: 0 1rem;
        &:hover, &:focus {
          text-decoration: underline;
        }
        &.is-active {
          font-weight: 700;
        }
      }
      &:hover, &:focus {
        background-color: $gray-100;
        border-right: 1px solid $accent-shade;
        border-left: 1px solid $accent-shade;
      }
    }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(11,83,128, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .dropdown-item.active, .dropdown-item:active {
    background-color: #ffffff;
  }
}

.navbar#navbar-main {
  padding: 0 1rem;
}

.dropdown-menu {
  padding: 0;
}

.region-top-header {
  .form-group {
    margin-bottom: 0;
  }
}

#navbar-top {
    justify-content: flex-end;
    width: 100%;
    .nav-link {
      color: #ffffff;
      padding: 0 2rem;
      border-bottom: 1px solid transparent;
      &:hover, &:focus {
        border-bottom: 1px solid #ffffff;
      }
    }
    nav {
      display: flex;
      align-items: center;
      padding-right: 1rem;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
}