/**
 * @file
 * Styles for Bootstrap Barrio page.
 */



 .field--name-field-blocks {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   .paragraph--type--single-column-text {
    flex: 1 1 100%;
     .field--name-field-single-text {
      max-width: 940px;
      margin: 0 auto;
     }
  }
  .paragraph--type--left-col-home {
    flex: 0 0 18%;
    margin-left: 2rem;
  }
  .paragraph--type--middle-col-home {
    flex: 1 1 40%;
    margin-right: 2rem;
    .field--name-field-stories {
      display: flex;
      flex-direction: column;
      .paragraph--type--home-story {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $accent-shade;
        margin-bottom: 1rem;
        .field--name-field-story-title {
          font-weight: 700;
          font-size: 1.25rem;
        }
        .home-story-text {
          padding-right: 2rem;
        }
      }
    }
  }
  .paragraph--type--right-col-home {
    flex: 1 1 30%;
    margin-right: 1rem;
    h3 {
      font-size: 1.25rem;
    }
  }
 }

 .node .paragraph--type--home-story {
  .field--type-image {
    float: none;
    margin: 0
  }
}