/**
 * @file
 * Styles for Bootstrap Barrio page.
 */

 .path-frontpage .field--name-field-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .paragraph--type--single-column-text {
      flex: 1 1 100%;
      .field--name-field-single-text {
        max-width: 940px;
        margin: 0 auto;
      }
    }
    .paragraph--type--left-col-home {
      flex: 0 0 18%;
      margin-left: 2rem;
      margin-right: 1%;
    }
    .paragraph--type--middle-col-home {
      flex: 1 1 37%;
      margin-right: 4%;
      .field--name-field-stories {
        display: flex;
        flex-direction: column;
        .paragraph--type--home-story {
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid $accent-shade;
          margin-bottom: 1rem;
          justify-content: space-between;
          .field--name-field-story-title {
            font-weight: 700;
            font-size: 1.25rem;
          }
          .home-story-text {
            padding-right: 2rem;
          }
        }
      }
    }
    .paragraph--type--right-col-home {
      flex: 1 1 30%;
      margin-right: 1rem;
      .node__title {
        padding-top: 1rem;
      }
      h3 {
        font-size: 1.25rem;
      }
      h2 {
        padding-left: 15px;
      }
    }
  }

  .node .paragraph--type--home-story {
    .field--type-image {
      float: none;
      margin: 0
    }
  }

  .path-frontpage {
    h2 {
      font-size: 1.5rem;
    }
  }

  .view-news-block {
    .row {
      margin-left: 0;
    }
    .col-auto.more-link {
      padding-left: 0;
    }
}


@media (max-width: 1250px) {
  .field--name-field-blocks {
    .paragraph--type--left-col-home {
      flex: 0 1 100%;
      margin-left: 0;
      margin-right: 0;
      .field__items {
        display: flex;
        flex-wrap: wrap;
        .field__item {
          flex: 0 1 200px;
        }
      }
    }
    .paragraph--type--middle-col-home {
      flex: 0 1 100%;
    }
    .paragraph--type--right-col-home {
      flex: 0 1 100%;
    }
  }
}