/**
 * @file
 * Footer Styling.
 */

.site-footer {
    padding: $spacer 0;
    .layout-container {
        padding: 0 $spacer;
    }
    .block {
    border: none;
    }
}


/* Footer Top Styling. */

.site-footer__top {

    .content {
    margin-top: 0;
    color: #ffffff;
    }
    .region-footer-fourth {
      float:right;
    }
}


/* Footer Bottom Styling. */

.site-footer__bottom .block {
    margin: ($spacer / 2) 0;
}

.site-footer__bottom .content {
    padding: ($spacer / 2) 0;
    margin-top: 0;
}
